<{if $garage}>
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
  <tr>
        <td style="font-size:small;">
		<{if $index}><a href="index.php"><img src="images/icons/index.png" align="middle" title="[<{$index}>]" alt="[<{$index}>]"></a><{/if}>
		
		<{if $panel == true}>
			<{if $editgarage}><a href="garage.php?op=edit&gid=<{$gid}>"><img src="images/icons/edit.png" align="middle" title="[<{$editgarage}>]" alt="[<{$editgarage}>]"></a><{/if}>
			<{if $approvegarage}><a href="admin/index.php?op=approve&gid=<{$gid}>"><img src="images/icons/approve.png" align="middle" title="[<{$approvegarage}>]" alt="[<{$approvegarage}>]"> </a><{/if}>
			<{if $disablegarage}><a href="admin/index.php?op=disable&gid=<{$gid}>"><img src="images/icons/disable.png" align="middle" title="[<{$disablegarage}>]" alt="[<{$disablegarage}>]"></a><{/if}>
			<{if $enablegarage}><a href="admin/index.php?op=enable&gid=<{$gid}>"><img src="images/icons/enable.png" align="middle" title="[<{$enablegarage}>]" alt="[<{$enablegarage}>]"></a><{/if}>
			<{if $deletegarage}><a href="admin/index.php?op=delgarage&gid=<{$gid}>"><img src="images/icons/delete.png" align="middle" title="[<{$deletegarage}>]" alt="[<{$deletegarage}>]"></a><{/if}>
			<{if $adminlink}><a href="../../modules/garage/admin/index.php"><img src="images/icons/admin.png" align="middle" title="[<{$adminlink}>]" alt="[<{$adminlink}>]"></a><{/if}>
		<{/if}></td>
  </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" summary="" class="forumline">
        <tr>
                <th height="25" nowrap colspan="2" class="thHead"><{$garage_of}> <{$garage.name}></th>
        </tr>
	<{if $path}><tr>
            <td align="left" class="catLeft"><br /><b><span class="gen"><{$path}></span></b></td>
        </tr><{/if}>
	<tr>
            <td align="center" class="catLeft"><br /><b><span class="gen"><{$owner_info}></span></b></td>
        </tr>
        <tr>
                <td valign="top" width='50%' class="row1"><span class="gen"> 

		<table width='100%' cellspacing='0' cellpadding='5'> 
		<{if $garage.linkgarage}><a href="../../userinfo.php?uid=<{$garage.uid}>"><{$linkgarage}></a><{/if}>
                  <b><{$ownername}>:</b>&nbsp;<{$garage.uname}><br />
                <b><{$location}>:</b>&nbsp;<{$garage.location}><br /> <b><{$website}>:</b>&nbsp;<a href="<{$garage.url}>"><{$garage.url}></a></span></td>

        </tr>
        <tr>
            <td align="center" class="catLeft"><b><span class="gen"><{$garage_info}></span></b></td>
        </tr>
        <tr>
                <td valign="top" class="row1"><table width="100%" border="0" cellspacing="1" cellpadding="3">
                <tr>
                  <td valign="middle" nowrap="nowrap"><span class="gen"><br /><b><{$year}>:</b></span></td>
                  <td class="row1" valign="middle"><span class="gen"><br />&nbsp;<{$garage.year}></span></td>
                </tr>
                 <tr>
                  <td valign="middle" nowrap="nowrap"><span class="gen"><b><{$make}>:</b></span></td>
                  <td class="row1" valign="middle" width="100%"><span class="gen">&nbsp;<{$garage.make}></span></td>
                </tr>
                <tr>
                  <td valign="middle" nowrap="nowrap"><span class="gen"><b><{$model}>:</b></span></td>
                  <td class="row1" valign="middle"><span class="gen">&nbsp;<{$garage.model}></span></td>
                </tr>
                <tr>
                  <td valign="middle" nowrap="nowrap"><span class="gen"><b><{$style}>:</b></span></td>
                  <td class="row1" valign="middle"><span class="gen">&nbsp;<{$garage.style}></span></td>
                </tr>
                <tr>
                  <td valign="middle" nowrap="nowrap"><span class="gen"><b><{$engine}>:</b></span></td>
                  <td class="row1" valign="middle"><span class="gen">&nbsp;<{$garage.engine}></span></td>
                </tr>
                <tr>
                  <td valign="middle" nowrap="nowrap"><span class="gen"><b><{$color}>:</b></span></td>
                  <td class="row1" valign="middle"><span class="gen">&nbsp;<{$garage.color}><br /><br /></span></td>
                </tr></table>
		<tr>
                <td align="center" class="catLeft"><b><span class="gen"><{$modifications}></span></b></td>
		</tr>
		<tr>
                <td valign="top" class="row1" align="left"><span class="gen"><br /><br /><{if $garage.mengine}><b><{$mengine}>:</b><hr><center><{$garage.mengine}><hr></center><br /><{/if}> <{if $garage.mexterior}><b><{$mexterior}>:</b><hr><center><{$garage.mexterior}><hr></center><br /><{/if}><{if $garage.minterior}><b><{$minterior}>:</b> <hr><center><{$garage.minterior}><hr></center><br /><{/if}> <{if $garage.mrims}><b><{$mrims}>:</b> <hr><center><{$garage.mrims}><hr></center><br /><{/if}><{if $garage.maudio}><b><{$maudio}>:</b> <hr><center><{$garage.maudio}><hr></center><br /><{/if}><{if $garage.mfuture}><b><{$mfuture}>:</b> <hr><center><{$garage.mfuture}><hr></center><{/if}>
	</span></td></tr><tr>
	<td class="row2">
	<p><{$garage.descript}></p>
	<{if $more}><a href="index.php?op=view&gid=<{$gid}>&subop=more#more"><{$more}></a><{/if}>
	<{if $showmore}>
		<a name="more"></a>
		<p><{$garage.descript2}></p>
	<{/if}>
   </td>
  </tr>
<{if $show_racetime}><tr><td>
<b><span class="gen"><br /><{$time_trials}></span></b>
</td></tr><tr>
		<td valign="top" class="row1" align="center"><table width="100%" border="0" cellspacing="1" cellpadding="3">
               <br /><{if $garage.rt}> <tr>
                  <td valign="middle" align="center" nowrap="nowrap"><span class="gen"><{$rt}>:</span></td>
                  <td valign="top" width="100%"><b><span class="gen"><{$garage.rt}></span></b></td>
                </tr><{/if}>
                <tr>
                  <{if $garage.sixty}><td valign="middle" align="center" nowrap="nowrap"><span class="gen"><{$sixty}>:</span></td>
                  <td valign="top" width="100%"><b><span class="gen"><{$garage.sixty}></span></b></td>
                </tr><{/if}>
                <tr>
                  <{if $garage.three}><td valign="middle" align="right" nowrap="nowrap"><span class="gen"><{$three}>:</span></td>
                  <td><b><span class="gen"><{$garage.three}></span></b></td>
                </tr><{/if}>
                <tr>
                  <{if $garage.eigth}><td valign="middle" align="right" nowrap="nowrap"><span class="gen"><{$eigth}>:</span></td>
                  <td><span class="gen"><b><{$garage.eigth}></b></span></td>
                </tr><{/if}>
                <{if $garage.eigthm}><tr>
                  <td valign="middle" align="right" nowrap="nowrap"><span class="gen"><{$eigthm}>:</span></td>
                  <td><b><span class="gen"><{$garage.eigthm}></span></b></td>
                </tr><{/if}>
                <{if $garage.thou}><tr>
                  <td valign="top" align="right" nowrap="nowrap"><span class="gen"><{$thou}>:</span></td>
                  <td> <b><span class="gen"><{$garage.thou}></span></b></td>
                </tr><{/if}>
               <{if $garage.quart}> <tr>
                  <td valign="top" align="right" nowrap="nowrap"><span class="gen"><{$quart}>:</span></td>
                  <td> <b><span class="gen"><{$garage.quart}></span></b></td>
                </tr><{/if}>
                <{if $garage.quartm}><tr>
                  <td valign="top" align="right" nowrap="nowrap"><span class="gen"><{$quartm}>:</span></td>
                  <td> <b><span class="gen"><{$garage.quartm}></span></b></td>
                </tr><{/if}>
          </table></td><{/if}></table>
<td class="odd" align='right' width='50%'>
<table width='100%' cellspacing='0' cellpadding='5'>
<tr>
<td valign="top" class="row1">
<table width="50%" cellpadding="2" cellspacing="1" border="0" class="forumline">
  <tr>
  <!-- BEGIN piccol -->
   <td align="center" colspan="2" width="{S_COL_WIDTH}" class="row1"><span class="genmed">
	<{$garage.image}></a></span></td>
  <!-- END piccol -->
  </tr>
</table></td></tr>

</table><{/if}></table>
<br /><br />
<br /><br />
<table align="center">
<tr>
<td><a href="http://www.xgarage.org" class="mainmenu"><font size="2px"><{$garage_profile}></font></a>
</td>
</tr>
</table>
<{if $allowcomments == 1}>
	<div style="text-align: center; padding: 3px; margin: 3px;">
	  <{$commentsnav}>
	  <{$lang_notice}>
	</div>
	<div style="margin: 3px; padding: 3px;">
	<!-- start comments loop -->
	<{if $comment_mode == "flat"}>
	  <{include file="db:system_comments_flat.html"}>
	<{elseif $comment_mode == "thread"}>
	  <{include file="db:system_comments_thread.html"}>
	<{elseif $comment_mode == "nest"}>
	  <{include file="db:system_comments_nest.html"}>
	<{/if}>
	<!-- end comments loop -->
	</div>
<{/if}>


